/* Start Variables */
:root {
    --main-color: #2196F3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ECECEC;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px)
{
    .container {
        width: 750px;
    }
}
/* Meduim */
@media (min-width: 992px)
{
    .container {
        width: 970px
    }
}
/* Large */
@media (min-width: 1200px)
{
    .container {
        width: 1170px;
    }
}
.main-title {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 auto 80px;
    display: block;
    border: 2px solid #000;
    padding: 10px 20px;
    width: fit-content;
    position: relative;
    transition: var(--main-transition);
    z-index: 999;
}
.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.main-title::before {
    left: -30px;
}
.main-title::after {
    right: -30px;
}
.main-title:hover::before{
    animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
    animation: right-move 0.5s linear forwards;
}
.main-title:hover {
    color: #fff;
    border-color: #fff;
    transition-delay: 0.5s;
}
/* End Global Rules */
/* Start Header */
.header {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px #ddd;
    -moz-box-shadow: 0px 0px 10px #ddd;
    box-shadow: 0px 0px 10px #ddd;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.header .logo {
    color: var(--main-color);
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px)
{
    .header .logo {
        width: 100%;
        height: 50px;
    }
}
.header .main-nav {
    display: flex;
}
@media (max-width: 767px)
{
    .header .main-nav {
        margin: auto;
    }
}
.header .main-nav li:hover .mega-menu{
    opacity: 1;
    z-index: 999;
    top: calc(100% + 1px);
}
.header .main-nav > li > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: inherit;
    height: 72px;
    padding: 0 30px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}
@media (max-width: 767px)
{
    .header .main-nav > li > a {
        padding: 10px;
        font-size: 14px;
        height: 50px;
    }
}
.header .main-nav > li > a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--main-color);
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}
.header .main-nav > li > a:hover {
    color: var(--main-color);
    background-color: #FAFAFA;
}
.header .main-nav > li > a:hover::before {
    left: 0;
}
.header .mega-menu {
    position: absolute;
    display: flex;
    gap: 30px;
    left: 0;
    top: calc(100% + 50px);
    width: 100%;
    padding: 30px;
    background-color: #fff;
    z-index: -1;
    border-bottom: 3px solid var(--main-color);
    opacity: 0;
    transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
    .header .mega-menu {
        flex-direction: column;
        gap: 0;
    }
    .header .mega-menu .links:first-of-type li:last-child{
        border-bottom: 1px solid #ddd;
    }
    
}
.header .mega-menu .image img {
    max-width: 100%;
}
@media (max-width: 991px) {
    .header .mega-menu .image {
    display: none;
}
}
.header .mega-menu .links {
    min-width: 250px;
    flex: 1;
}
.header .mega-menu .links li{
    position: relative;
}
.header .mega-menu .links li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}
.header .mega-menu .links li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #FAFAFA;
    left: 0;
    top: 0;
    z-index: -1;
    transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
    width: 100%;
}
.header .mega-menu .links li a {
    display: block;
    padding: 15px;
    color: var(--main-color);
    font-size: 18px;
    font-weight: bold;
}
.header .mega-menu .links li a i {
    margin-right: 10px;
} 
/* End Header */
/* Start Landing */
.landing {
    position: relative;
}
.landing::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100px;
    background-color: var(--section-background);
    z-index: -999;
    transform: skewY(-6deg);
    transform-origin: top left;
}
.landing .container {
    min-height: calc(100vh - 72px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}
.landing .text {
    flex: 1;
}
.landing .text h1 {
    font-size: 40px;
    letter-spacing: -2px;
    margin-bottom: 10px;

}
.landing .text p {
    font-size: 23px;
    max-width: 500px;
    line-height: 1.6;
    color: #888;
}
@media (max-width: 992px)
{
    .landing .text {
        text-align: center;
    }
    .landing .text p {
        margin: 10px auto;
    }
}
@media (max-width: 767px) {
    .landing .container h1 {
        font-size: 28px;
    }
    .landing .container p {
        font-size: 18px;
    }
}
.landing .image img{
    max-width: 600px;
    position: relative;
    animation: up-and-down 5s linear infinite;
}
@media (max-width: 992px)
{
    .landing .image {
        display: none;
    }
}
.landing .go-down {
    position: absolute;
    color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    transition: var(--main-transition);
    animation: bouncing 1.5s infinite;
}
.landing .go-down:hover {
    color: var(--main-color-alt);
}
/* End Landing */
/* Start Articles */
.articles {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.articles .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
.articles .box {
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    -webkit-box-shadow:0 0 10px rgb(0 0 0 / 10%);
    border-radius: 6px;
    overflow: hidden;
    transition:  transform var(--main-transition), box-shadow var(--main-transition);
}
.articles .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
    -webkit-box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}
.articles .box img {
    width: 100%;
    max-width: 100%;
}
.articles .box .content {
    padding: 20px;
    border-bottom: 1px solid #eee;
}
.articles .box .content p {
    margin-top: 10px;
    color: #888;
    line-height: 1.6;
}
.articles .box .info {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--main-color);
    
}
.articles .box .info a {
    font-weight: bold;
    display: block;
    color: inherit;
}
/* End Articles */
/* Start Gallery */
.gallery {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}
.gallery .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    
}
.gallery .box {
    background-color: #fff;
    padding: 15px;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 12%),
    0 2px 4px 0 rgb(0 0 0 / 12%);
    
}
.gallery .box .image {
    position: relative;
    overflow: hidden;
}
.gallery .box .image::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 0%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 20%);
    opacity: 0;
    z-index: 1;
}
.gallery .box .image:hover::before {
    animation: flashing 0.7s;
}
.gallery .box .image img {
    width: 100%;
    max-width: 100%;
    transition: var(--main-transition);
}
.gallery .box .image:hover img {
    transform: scale(1.1) rotate(-5deg);
}
/* End Gallery */
/* Start Features */
.features {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.features .container > div {
    border: 1px solid #ccc;
    text-align: center;
}
.features .container > div .img-holder{
    position: relative;
    overflow: hidden;
}
.features .container > div .img-holder::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
}
.features .container > div:nth-child(1) .img-holder::before {
    background-color: rgb(244 63 54 / 60%);
}
.features .container > div:nth-child(2) .img-holder::before {
    background-color: rgb(0 150 135 / 60%);
}
.features .container > div:nth-child(3) .img-holder::before {
    background-color: rgb(3 168 244 / 60%);
}
.features .container > div .img-holder::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffff;
    left: 0;
    top: 75%;
    z-index: 1;
    transform: skewY(-20deg);
    transition: var(--main-transition);
}
.features .container > div:hover .img-holder::after {
    transform: skewY(20deg);
}
.features .container .img-holder img {
    width: 100%;
    max-width: 100%;
}
.features .container > div h2 {
    font-size: 40px;
    position: relative;
    width: fit-content;
    margin: 0 auto;
}
.features .container > div h2::before {
    content: "";
    position: absolute;
    width: 65%;
    height: 5px;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.features .container > div:nth-child(1) h2::before {
    background-color: #f44036;
}
.features .container > div:nth-child(2) h2::before {
    background-color: #009688;
}
.features .container > div:nth-child(3) h2::before {
    background-color: #03a9f4;
}
.features .container > div p {
    margin: 35px 0;
    padding: 25px;
    font-size: 20px;
    line-height: 1.6;
    color: #888;
}
.features .container > div a {
    display: block;
    width: fit-content;
    margin: 0 auto 35px;
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 22px;
    font-weight: bold;
    position: relative;
    z-index: 999;
}
.features .container > div a::before {
    position: absolute;
    content: "";
    background-color: inherit;
    width: 0;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -999;
    transition: var(--main-transition);
}
.features .container > div:nth-child(1) a {
    border: 4px solid #f44036;
    color: #f44036;
}
.features .container > div:nth-child(1) a::before {
    background-color: #f44036;
}
.features .container > div:nth-child(2) a {
    border: 4px solid #009688;
    color: #009688;
}
.features .container > div:nth-child(2) a::before {
    background-color: #009688;
}
.features .container > div:nth-child(3) a {
    border: 4px solid #03a9f4;
    color: #03a9f4;
}
.features .container > div:nth-child(3) a::before {
    background-color: #03a9f4;
}
.features .container > div:hover a {
    color: #fff;
}
.features .container > div:hover a::before{
    width: 100%;
}
/* End Features */
/* Start Testimonials */
.testimonials {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}
.testimonials .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.testimonials .box {
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
    position: relative;
}
.testimonials .box img {
    position: absolute;
    width: 100px;
    border-radius: 50%;
    top: calc(-50% + 15px);
    transform: translateY(calc(50% - 15px));
    right: -10px;
    border: 10px solid var(--section-background);
}
.testimonials .box h3 {
    margin-bottom: 10px;
}
.testimonials .box .rate .filled {
    color: #ffc107;
}
.testimonials .box .title {
    display: block;
    margin-bottom: 10px;
    color: #888;
}
.testimonials .box p {
    margin: 10px 0;
    line-height: 1.6;
    color: #888;
}
/* End Testimonials */
/* Start Team */
.team {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.team .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
    gap: 40px;
}
.team .box {
    z-index: 1;
    position: relative;
}
.team .box::before,
.team .box::after {
    content: "";
    position: absolute;
    height: 100%;
    z-index: -2;
    border-radius: 10px;
    right: 0;
    top: 0;
    transition: var(--main-transition);
}
.team .box::before {
    background-color: var(--section-background);
    width: calc(100% - 60px);
}
.team .box::after {
    background-color: #dfdfdf;
    width: 0;
}
.team .box:hover .data img,
.team .box:hover .info {
    filter: grayscale(100%);
}
.team .box:hover::after {
    width: calc(100% - 60px);
    z-index: -1;
}
.team .box .data {
    display: flex;
    align-items: center;
    padding-top: 60px;
}
.team .box .data .social {
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.team .box .data .social a {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
}
.team .box .data .social a:hover {
    color: var(--main-color);
}
.team .box .data img {
    width: calc(100% - 60px);
    border-radius: 10px;
    transition: var(--main-transition);
}
.team .box .info {
    padding-left: 80px;
}
.team .box .info h3 {
    margin-top: 22px;
    font-size: 22px;
    color: var(--main-color);
}
.team .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
}
/* End Team */
/* Start Services */
.services {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}
.services .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
}
.services .box {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    counter-increment: services;
    position: relative;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 12%),
    0 2px 4px 0 rgb(0 0 0 / 12%);
    transition: var(--main-transition);
}
.services .box::before {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    top: 0;
    left: 0;
    transition: var(--main-transition);
}
.services .box:hover::before {
    width: 100%;
}
.services .box:hover {
    transform: translateY(-10px);
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 20%),
    0 2px 4px 0 rgb(0 0 0 / 20%);
}
.services .box i {
    margin: 30px 0 15px;
    color: #d5d5d5;
}
.services .box h3 {
    margin: 15px 0 40px;
    font-size: 25px;
    color: var(--main-color);
}
.services .box .info {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: #f9f9f9;
    padding: 15px ;
    position: relative;
}
.services .box .info::before {
    position: absolute;
    content: "0" counter(services);
    background-color: var(--main-color);
    left: 0;
    top: 0;
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #fff;

}
.services .box .info::after {
    position: absolute;
    content: "";
    width: 15%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #d5d5d5;
    margin-left: 25%;
    transform: skewX(-25deg);
}
.services .box .info a {
    color: var(--main-color);
}
/* End Services */
/* Start Skills */
.our-skills {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.our-skills .container {
    display: flex;
}
.our-skills .skills {
    width: 100%;
    flex: 1;
}
.our-skills .skill {
    width: 100%;
}
@media (max-width: 991px) {
    .our-skills .container img {
        display: none;
    }
}
.our-skills .skill h3{
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
}
.our-skills .skill h3 span {
    font-size: 12px;
    color: var(--main-color);
    padding: 3px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.our-skills .skill .the-progress {
    height: 30px;
    background-color: #eee;
    position: relative;
}
.our-skills .skill .the-progress span{
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
}
/* End Skills */
/* Start Work-steps */
.work-steps {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}
.work-steps .container {
    display: flex;
    align-items: center;
}
@media (max-width:991px) {
    .work-steps .container {
        flex-direction: column;
        gap: 40px;
    }
}
.work-steps .container img {
    max-width: 100%;
    margin-right: 100px;
}
@media (max-width:991px) {
    .work-steps .container img {
        margin-right: 0;
    }
}
.work-steps .info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.work-steps .info .box {
    display: flex;
    align-items: center;
    background-color: #f6f5f5;
    padding: 30px;
    border: 2px solid #fff;
    border-radius: 6px;
    position: relative;
}
.work-steps .info .box::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    transition: var(--main-transition);
}
.work-steps .info .box:hover::before {
    width: 100%;
    height: 100%;
}
.work-steps .info .box img {
    width: 64px;
    margin-right: 30px;
    z-index: 1;
}
.work-steps .info .box .text {
    z-index: 1;
}
.work-steps .info .box .text h3 {
    font-size: 22px;
}
.work-steps .info .box .text p {
    margin-top: 10px;
    line-height: 1.6;
    color: #888;
    font-size: 18px;
}
@media (max-width:767px) {
    .work-steps .info .box {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .work-steps .info .box img {
        margin-right: 0;
    }
}
/* End Work-steps */
/* Start Latest Events */
.events {
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.events .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.events .container img {
    max-width: 450px;
}
@media (max-width:991px) {
    .events .container img {
        display: none;
    }
}
.events .info {
    flex: 1;
    text-align: center;
}
.events .info .time {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.events .info .unit {
    border: 1px solid #d4d4d4;
    display: flex;
    flex-direction: column;
    width: 75px;
    border-radius: 6px;
    text-align: center;
    margin: 15px 0;
}
.events .info .unit span:first-child {
    font-size: 35px;
    font-weight: bold;
    color: var(--main-color);
    padding: 20px;
}
.events .info .unit span:last-child {
    font-size: 14px;
    border-top: 1px solid #d4d4d4;
    padding: 5px;
}
.events .info h2 {
    margin: 40px 0 0;
    font-size: 30px;
}
.events .info p {
    margin: 19px 0;
    font-size: 19px;
    color: #888;
    line-height: 1.7;
}
.events .subscribe {
    width: 100%;
    margin-top: 5%;
}
.events .subscribe form {
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    max-width: 100%;
}
.events .subscribe form input {
    padding: 20px;
    border: none;
    border-radius: 60px;
}
.events .subscribe form input[type="email"] {
    outline: none;
    flex: 1;
    caret-color: var(--main-color);
}
.events .subscribe form input[type="email"]::placeholder {
    transition: var(--main-transition);
}
.events .subscribe form input[type="email"]:focus::placeholder {
    color: #fff;
}
.events .subscribe form input[type="submit"] {
    background-color: var(--main-color);
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: var(--main-transition);
}
.events .subscribe form input[type="submit"]:hover {
    background-color: var(--main-color-alt);
}
@media (max-width: 767px) {
    .events .subscribe form, 
    .events .subscribe form input {
        border-radius: 0;
    }
    .events .subscribe form {
        flex-direction: column;
        align-items: stretch;
        padding: 20px;
    }
}
/* End Latest Events */
/* Start Animation */
/* Start Landing Animation */
@keyframes up-and-down {
    0%,
    100% {
        top: 0;
    }
    50% {
        top: -50px;
    }
}
@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40%,
    60% {
      transform: translateY(-15px);
    }
}
/* End Landing Animation */
/* Start Main-Title Animation */
@keyframes left-move {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }
    100% {
        left: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

    }
}
@keyframes right-move {
    50% {
        right: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }
    100% {
        right: 0;
        border-radius: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}
/* End Main-Title Animation */
/* Start Flashing Gallery Animation */
@keyframes flashing {
    0%, 40% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}
/* End Flashing Gallery Animation */
/* End Animation */